@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
    background-color: #fff;
}
body, h1, h2, ul, li {
  color: #121212;
  margin: 0px;
  padding: 0px;
}
h1, h2 {
    font-family: "Zilla Slab", serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
p, a {
    color: #292929;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
a:hover {
    color: rgb(172, 0, 0);
}
ul, a {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#titulo {
    font-size: 70px;
    margin-top: 18%;
}
.titulo-subpage {
    margin-top: 18%;
}
.voltar {
    padding: 0px;
}
